!!!
%html.no-js{:lang => "en"}
  = head
  %body
    .container
      = chromeframe
      %header{:role => "banner"}
        = render :partial => 'shared/logo'
        = render :partial => 'shared/navigation'
      #main{:role => "main"}
        = yield
      .footer-push
    = render :partial => 'shared/footer'
    = scripts
